<div class="card__content">
  <h4 class='heading4'><%= model.name %></h4>

  <div class="card__text">
    <div class="card__text--paragraph">
      <%= description %>
    </div>
    <p class='lead'><%= model.lead %></p>
  </div>
</div>
