<% if latest_informations.any? %>
  <section class="wrapper-home latest-informations home-section">
    <div class="row">
      <h3 class="section-heading"><%= t("decidim.admin_extended.content_blocks.latest_informations.name") %></h3>
      <div class="row collapse">
        <div class="row small-up-1 smallmedium-up-2 mediumlarge-up-3 large-up-3 card-grid centered">
          <% latest_informations.each do |information| %>
          <%= cell "decidim/admin_extended/information_m", information %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
