<div class="column">
  <%= link_to decidim_assemblies.assembly_path(assembly), class: "card card--assembly mini-mini card--mini" do %>
    <div aria-hidden="true" class="card__image-top"
         style="background-image:url(<%= assembly.hero_image.url %>)"></div>
    <div class="card__content">
      <span class="card__title card__link"><%= translated_attribute assembly.title %></span>
    </div>
  <% end %>
</div>