/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.columns .section { margin-bottom: 1.5rem; }

.card .help-text { margin-top: 1rem; }

.interests-col {
  display: inline-block;
  width: 48%;
  vertical-align: top;
}

/************* registration *************/

.do-not-show { display: none; }

/************* static pages *************/

.card--full__image.static_ppage {
  width: 100%;
  height: 170px;
  background-color: var(--primary);
}

/************* footer *************/

.ue-footer {
  padding: 5px 0 15px 0;
  /* background-color: #1a181d; */
  background-color: #fff;
  color: #1a181d;

}

/* .ue-footer:before {
  position: relative;
  content: '';
  display: block;
  width: 75rem;
  height: 3px;
  background-color: #fff;
  top: 0px;
  left: calc(50% - (75rem / 2));
  margin-bottom: 10px;
} */

.ue-footer img {
  max-width: 800px;
  display: block;
  margin: auto;
}

.ue-footer .ue-info-text {
  margin: auto;
  padding: 5px 10px 0px 10px;
  text-align: center;
  max-width: 600px;
  font-size: 0.9rem;
}

.pages-attachments-container {
  padding-top: 20px;
  margin-bottom: -35px;
}
