<% if @projects.any? %>
  <% @projects.each do |project| %>
    <%= card_for project, size: :list_item %>
  <% end %>
<% else %>
  <p><%= t(".empty") %></p>
<% end %>

<%= decidim_paginate @projects %>
