/* css for decidim_gdynia */

/************* header - main bar *************/

.main-bar__nav-item {
  border-left: none !important;
}

.main-bar__login-button {
  border-left: 2px solid rgb(225 229 239) !important;
}

/************* hero *************/

.hero__container {
  background-image: var(--hero-image);
}

/************* footer *************/

.main-footer {
  a,
  p,
  h2 {
    color: #ddd;
  }
}

.ue-footer {
  padding: 5px 0 15px 0;
  background-color: #fff;
  color: #1a181d;
}

.ue-footer img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: auto;
}

.ue-footer .ue-info-text {
  margin: auto;
  padding: 5px 10px 0px 10px;
  text-align: center;
  max-width: 600px;
  font-size: 0.9rem;
}

/************* user account *************/

.flash.warning .flash__message .author__verified {
  display: inline-block;
  vertical-align: text-bottom;
}

/************* ADMIN *************/

/************* autocomplete sticky selection fix *************/

.autoComplete_wrapper {
  span.autocomplete__selected-item.sticky {
    align-items: center;
    padding: 0 2rem 0 0.5rem !important;
    height: 40px;
    line-height: 40px !important;
    top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 2rem);
  }

  .clear-sticky-selection {
    align-items: center;
    justify-content: center;
    height: 40px;
    top: 0;
    line-height: 40px !important;
    right: 0.5rem;
    z-index: 1;
  }
}
