/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require decidim
 *= require decidim/core/extended/application.css
 *= require decidim/assemblies/extended/application.css
 *= require_tree .
 *= require_self
 */

.comment__votes span {
  font-size: 1.3em;
}
.comment__votes .icon--small,
.comment-thread .icon--small {
  pointer-events: none;
  width: 0.875em;
  height: 0.875em;
}
/************ graphics changes ************/

/******* header ******/

.title-bar { background-color: #fff; color: #000; }
.topbar__search input { background-color: #f8f8f8; color: #000; }
.topbar__search input::placeholder { color: #000; }
.topbar__search input:focus { background-color: #f8f8f8; color: #000; }
.topbar__search:not(:focus-within) button { background-color: var(--primary); color: rgba(0, 0, 0, 0.5); }
.topbar__dropmenu > ul > li > a { color: #000; }
.topbar__dropmenu > ul > li > a::after { border-top-color: #000 !important; }
.topbar__user__login a { color: #000; font-weight: 200; }
.topbar__user__login a:hover { color: #000; }
.topbar__admin__link a { color: #000; font-weight: 200; }
.topbar__admin__link a:hover { color: #000; }
.topbar__notifications .icon, .topbar__conversations .icon { fill: #000; }


.navbar { background-color: #f8f8f8; color: #000; }
.main-nav__link a { color: #000; }
.main-nav__link--active a { box-shadow: inset 0 -4px 0 0 var(--primary); }
.main-nav__link a:hover, .main-nav__link a:focus { color: #000; }


/******* backgrounds ******/

#content section,
.home-section:nth-of-type(2n+1),
.home-section:nth-of-type(2n) { background-color: #fff; }
#content section { position: relative; }
#content section:after {
  display: block;
  content: '';
  width: 75rem;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: calc(100% - 4px);
  left: calc(50% - (75rem / 2));
}
#content section:first-of-type:after { display: none; }
#content section:last-of-type:after { display: none; }

.off-canvas-wrapper { background-color: #fff; }

/******* headers ******/

.hero-heading { font-size: 4rem; text-shadow: none; }

#metrics .heading2,
#content section .heading3 { font-size: 2em; font-weight: bold; text-align: center; text-transform: none; }
#content section h3.section-heading { font-size: 2em; font-weight: bold; text-align: center; text-transform: none; margin-bottom: 50px; }
#content section h3.section-heading:before { display: none; }

#content section h3.section-heading#assemblies-count,
#content section h3.section-heading.order-by__text { font-size: 1.125em; font-weight: 600; text-transform: uppercase; margin-bottom: 1rem; }
#content section h3.section-heading#assemblies-count:before,
#content section h3.section-heading.order-by__text:before { display: inline-block; }


/******* cards ******/

#highlighted-processes .card.card--mini,
#highlighted-assemblies .card.card--mini { background-color: #fff8e5; border-radius: 15px; color: #000; }
#highlighted-processes .card.card--mini .card__link,
#highlighted-assemblies .card.card--mini .card__link { color: #000; font-weight: bold; font-size: 1.2rem; }
.card.card--mini:hover,
.card.card--mini:hover .card__link { text-decoration: none; color: #4f4f4f; }


/******* buttons ******/

.button { color: #000; }
.button:hover { color: #000; }
.button--sc.large {
  display: inline-block;
  width: auto;
  font-size: 1.25rem;
  text-transform: none;
}
.button.hollow { color: #000; background-color: var(--primary); border-radius: 15px; }
.button.hollow.small { border-radius: 4px; }
.button.hollow:hover { color: #000; }
.button.tiny {
  border-radius: 4px;
}
.opinion-toggle--meh:hover, .opinion-toggle--meh:focus, .opinion-toggle--meh.is-active { background-color: var(--primary); }
.button.tiny.opinion-toggle--ok {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.button.tiny.opinion-toggle--ko {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.button.tiny.opinion-toggle--meh { border-radius: 0; }
.button--muted { color: #fff; }
.hero-cta { padding: 1rem 1.5rem; border-radius: 15px; }
